.ord-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "ord-nav"
    "ord-main"
    "ord-cal"
    "ord-form"
}
.ord-nav{
    display: grid;
    grid-area: ord-nav;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blueviolet;
    grid-template-areas: 
    "ord-nav-arrow order-nav-heading ."
}
.ord-main{
    display: grid;
    grid-area: ord-main;
    grid-template-columns: 1fr;
    /* justify-content: center; */
    grid-template-areas: 
    "ord-img"
    "ord-date"
    "ord-d-total"
}
.ord-form{
    display: grid;
    grid-area: ord-form;
    /* justify-content: center; */
    padding: 20px;
}

.ord-nav-arrow{
    grid-area: ord-nav-arrow;
    display: grid;
    align-self: center;
}
.order-nav-heading{
    grid-area: order-nav-arrow;
    display: grid;
    align-self: center;
}
.ord-img{
    display: grid; 
    grid-area: ord-img;
    justify-content: center;

}
.ord-date{
    display: grid;
    grid-area: ord-date;
    /* justify-content: center; */
    grid-auto-columns: 1fr 1fr;
    grid-template-areas: 
    "ord-d-start ord-d-end"
}

.ord-d-start{
    display: grid;
    grid-area: ord-d-start;
    padding: 10px;
    /* justify-content: center; */
}
.ord-d-end{
    display: grid; 
    grid-area: ord-d-end;
    padding:10px;
    /* justify-content: center; */
}

.ord-form{
display: grid;
grid-area: ord-form;
}

.ord-cal {
    display: grid;
    grid-area: ord-cal;
    padding: 10px;

}
.ord-f-input{
    display: grid;
    
}



.ord-d-total{
    grid-area: ord-d-total;
    padding: 10px;
    justify-content: center;
    text-align: center;
}




/*---------Form-------*/
form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.ord-d-end input[type="date"],
.ord-d-start input[type="date"],
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="tel"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
    overflow: hidden;
    height: 100px;
}
.ord-cal input[type="button"],
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
.ord-cal input[type="button"] {
    background-color: #797979;
    border: none;
}
textarea{
    height: 50px;
}