body {
    margin: 0px; 
    padding: 0px;
}

*{
    font-family: 'Raleway', sans-serif;
    /* font-weight: 300; */
    /* line-height: 1.6em; */
}

a{
    text-decoration: none;
    /* font-weight: 100; */
}
/*------------------ navbar---------- */

.navbar {
    display: grid; 
    height: 50px;
    /* background-color: #0074D9; */
    grid-template-columns: 1fr; 
    background-color:#171717;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
    align-items: center;
    justify-content: center;
    height: 70px;
    grid-template-areas: 
    "nav-brand"
    
    
}
.nav-brand {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: nav-brand;
    height: 100%;
    
}

 /* ---------main area index page all product------ */


/* -----Text main----- */
.cover {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-template-areas: 
    "cover-heading cover-heading"
    "cover-text cover-text"
}
.cover-heading {
    grid-area: cover-heading;  
    display: grid; 
    justify-content: center;
    font-size: 24px;
    letter-spacing: 0.1em;
}
.cover-text{
    grid-area: cover-text;
    display: grid; 
    justify-content: center;
    text-align: center;
}

.brand-value{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    grid-template-areas: 
    "b-v-1 b-v-2 b-v-3"
    ".  b-v-line-text . "
}
.b-v-1{
    grid-area: b-v-1;
    text-align: center;

}
.b-v-2{
    grid-area: b-v-2;
    text-align: center;

}
.b-v-3{
    grid-area: b-v-3;
    text-align: center;

}



/* -------------- New card design ------- */

.card-2 {
    display: grid; 
    grid-template-columns: 1fr;
    border: 1px sold red;
    margin-right: 20px;
    margin-left: 20px;
}
.container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px sold red;
    margin-bottom: 15px;
    justify-content: center;
    grid-template-areas: 
    "heading heading heading"
    "card-area card-area card-area"
    ". btn-2 ."
}
.heading{
    display: grid;
    /* background-color: #181E23; */
    color: #171717;
    justify-content: center;
    grid-area: heading;
    border-radius: 5px 5px 0px 0px;
}
.card-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-area: card-area;
    background-color: #F8F8F8;
    padding: 10px;
    /* border: 1px solid grey; */
    border-radius: 0px 0px 5px 5px;
    grid-template-areas: 
    "prod-img prod-img"
    "prod-info prod-info"
}
.prod-img{
    display: grid;
    grid-area: prod-img;
    justify-content: center;
}
.prod-info{
    display: grid;
    grid-area: prod-info;
    justify-content: center;
}
.btn-2{
    display: grid;
    justify-content: center;
    grid-area: btn-2; 
    /* background-col#171717;or: #3BE2AB; */
    color: #171717;
    border-width: 2px;
    border: 2px solid  #171717;
    border-radius: 3px;
    transition: 0.1s background-color linear, 0.1s color linear;
}


.btn-2 a{
  color: #171717;
}


.btn-2:hover {
    background-color: #171717;
    
}

.btn-2 a h4:hover{
    color: #fff;
}

.divider {
    margin-right: 10%;
    margin-left: 10%;

}

/* footer */

.footer{
    background-color: #171717;
    height: 50px;
    bottom: 0;
    display: grid;
    color: #fff;
    text-align: center;
}